.sp{
    border: 1px solid black;
    margin: 50px;
    align-items: center;
    padding: 20px;
    height: 100%;
    width: 50%;
}

h2{
    margin-bottom: 50px;
}

button{
    margin: 50px;
    padding: 10px;
    background-color: green;
}